@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1698376418564') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-QQ:before {
  content: "\e65e";
}

.icon-weixin:before {
  content: "\e501";
}

.icon-shejiaotubiao-06:before {
  content: "\e641";
}

