/*通配符*/
*{
	margin: 0px;
	padding: 0px;
}
/*标签选择器*/
div{
	width: 100px;
	height: 100px;
	background: #CC99FF;
}
/*类名称*/
.oo{
	width: 500px;
	height: 500px;
	background: #0062cc;
}
/*id选择器*/
#QQ{
	width: 150PX;
	height: 150PX;
}
/*后代选择器*/
ol li{
	color: #2AC845;
}
/*子代选择器*/
ol>li{
	color: #FFCC00;
}
/*并集选择器*/
#xx,h3{
	font-size: 200px;
	color: #FF6600;
}


