

/*通配符选择器*/
* {
				margin: 0px;
				padding: 0px;
				
			}
		
			/*标记选择器*/
			ul {
				margin-left: 50px;
			}	
				
	/*id选择器*/
#qq{
	
	color: red;
	width: 100px;
	height: 200px;
	position: fixed;
	right: 50px;
	top: 100px;
	}

.qq

