.mm,.mm2,.mm3,.ww,.bb,.uu{
    width: 1168px;
}
.mm,.ww,.bb21,.bb22,.bb23,.xx,.tt,.ss,.uu,.ee{
    border: 1px solid #0ff;
}
.bb2,.bb22,.bb23,.bb22{
    width: 258px;
}
.xx,.xx3,.tt,.tt3,.ss,.ee{
    width: 898px;
}
.bb2,.xx,.tt,.ss,.ee,.uu{
    float: left; 
}